doctype html
mixin item(title, url) 
  li
    a(href=url class=path===url ? "active" : "")=title
mixin item1(title, url)
  li
    a(href=url class=path===url ? "active" : "" style=`${session ? "display: block" : "display:none"}`)=title

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul(class="menu")
      +item("Strona Główna", "/")
      +item("Aktulaności", "/news")
      +item("Quiz", "/quiz")
      +item("Admin", "/admin")
      +item1("Dodoaj Newsa", "/admin/news/add")
      +item1("Wyloguj się", "/logout")
  

    block content