body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  background: #aaa;
  align-content: flex-end;
  padding: 0;
  margin: 0;
}

.menu li {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
  width: 12%;
}

.menu li a {
  box-sizing: border-box;
  color: white;
  /* display: block; */
  text-decoration: none;
}

.menu li a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.active {
  font-weight: bold;
}

.red {
  color: red;
}
